body {
  overflow-x: hidden;
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"),
    url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
      format("woff2");
}
.logo {
  margin-right: 100px;
}
.NavStyle {
  align-items: center;
  font-size: 15pt;
  display: inline-flex;
  text-align: center;
  margin-left: 10%;
  margin-right: 0;
  /* Second Nav */
  /* margin-right: 24px; */
  /* Third Nav */
  /* width: 100vw;
  white-space: nowrap; */
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.NavCont {
  width: 100%;
  background-color: blue;
  padding: 0;
  align-content: center;
  text-align: center;
}
