body {
  overflow-x: hidden;
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"),
    url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
      format("woff2");
}
.logo {
  margin-right: 100px;
  background-image: url("./mellow.png");
  height: 100px;
  color: transparent;
  background-size: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.NavStyle {
  align-items: center;
  font-size: 15pt;
  display: inline-flex;
  text-align: center;
  margin-left: 5%;
  margin-right: 0;
  @media screen and (max-width: 768px) {
    display: inline-flex;
    font-size: 10pt;
    margin-left: 0%;
    margin-left: 0;
  }
}
.NavCont {
  width: 100%;
  background-color: blue;
  padding: 0;
  align-content: center;
  text-align: center;
}
